tensorflow
dvc
pandas
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
ipykernel
types-PyYAML
scipy
mlflow==1.26.1
-e .

## Dev requirements
pytest
tox
black
flake8
mypy

